<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه نخست</title>
    <link rel="stylesheet" href="/static/css_files/index.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <!-------------------------------------( messages-framework )--------------------------------------------------->

    {% include 'includes/messages.html' %}

    <!-------------------------------------( slid-card )--------------------------------------------------->

    {% include 'includes/slid-card-box.html' %}

    <!-------------------------------------( headers )----------------------------------------------------->

    {% include 'includes/headers-navbars.html' %}

    <!-- ---------------------------------( main-content )--------------------------------------===-------->

    <main class="content">
        <div class="border-middle-text">
            <p class="cate-list-p">خرید بر اساس دسته‌بندی</p>
        </div>
        <div class="cate-list">
            <div class="cate-list-item">
                <a href="#"><img src="/static/images/under-wear.jpg">
                    <p>انواع لباس زیر و نیم تنه</p>
                </a>
            </div>

            <div class="cate-list-item">
                <a href="{% url 'shop:tshirt' %}"><img src="/static/images/t-shirt.jpg">
                    <p>تیشرت زنانه</p>
                </a>
            </div>

            <div class="cate-list-item">
                <a href="#"><img src="/static/images/shoomiz.jpg">
                    <p>شومیز</p>
                </a>
            </div>

            <div class="cate-list-item">
                <a href="#"><img src="/static/images/beach-shirt.jpg">
                    <p>پیراهن ساحلی</p>
                </a>
            </div>

            <div class="cate-list-item">
                <a href="#"><img src="/static/images/jwelry.jpg">
                    <p>زیورالات</p>
                </a>
            </div>

            <div class="cate-list-item">
                <a href="#"><img src="/static/images/hat.jpg">
                    <p>کلاه نقاب دار زنانه</p>
                </a>
            </div>

            <div class="cate-list-item">
                <a href="#"><img src="/static/images/top.jpg">
                    <p>تاپ</p>
                </a>
            </div>

            <div class="cate-list-item">
                <a href="#"><img src="/static/images/suport-leg.jpg">
                    <p>انواع لگ</p>
                </a>
            </div>
        </div>

        <!-- ------------------------( swiper-new-product )------------------------ -->

        <div class="border-middle-text">
            <p class="swiper-new-products-p">جدید ترین محصولات</p>
        </div>

        <div class="swiper mySwiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <a href="#">
                            <img src="/static/images/shoomiz.jpg">
                            <div class="quick-add">
                                <a href="#"> افزودن به سبد خرید</a>
                            </div>
                            <h1>لگ شاین کمر گن دار</h1>
                            <p>
                                تومان
                                222/000
                            </p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <a href="#">
                            <img src="/static/images/shoomiz.jpg">
                            <div class="quick-add">
                                <a href="#"> افزودن به سبد خرید</a>
                            </div>
                            <h1>لگ شاین کمر گن دار</h1>
                            <p>
                                تومان
                                222/000
                            </p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <a href="#">
                            <img src="/static/images/shoomiz.jpg">
                            <div class="quick-add">
                                <a href="#"> افزودن به سبد خرید</a>
                            </div>
                            <h1>لگ شاین کمر گن دار</h1>
                            <p>
                                تومان
                                222/000
                            </p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <a href="#">
                            <img src="/static/images/shoomiz.jpg">
                            <div class="quick-add">
                                <a href="#"> افزودن به سبد خرید</a>
                            </div>
                            <h1>لگ شاین کمر گن دار</h1>
                            <p>
                                تومان
                                222/000
                            </p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <a href="#">
                            <img src="/static/images/shoomiz.jpg">
                            <div class="quick-add">
                                <a href="#"> افزودن به سبد خرید</a>
                            </div>
                            <h1>لگ شاین کمر گن دار</h1>
                            <p>
                                تومان
                                222/000
                            </p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-item">
                        <a href="#">
                            <img src="/static/images/shoomiz.jpg">
                            <div class="quick-add">
                                <a href="#"> افزودن به سبد خرید</a>
                            </div>
                            <h1>لگ شاین کمر گن دار</h1>
                            <p>
                                تومان
                                222/000
                            </p>
                        </a>
                    </div>
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>

        <!-- ------------------------( content-aboutUs )------------------------ -->

        <div class="border-middle-text">
            <p class="swiper-new-products-p">Origin Lady درباره</p>
        </div>
        <div class="content-aboutUs">
            <div class="object-leftSide" id="object-leftSide">
                <div class="aboutUs-text-border"></div>
                <p>
                    فروش کیف و کفش خاص برای افراد خاص در فروشگاهی خاص به نام فلان. اگر خاص هستید و روی چیزهای خاص دست می
                    گذارید، اکنون زمانش فرا رسیده که به فروشگاه ما مراجعه نمایید منتظرتان هستیم
                </p>
            </div>

            <div class="object-rightSide" id="object-rightSide">
                <img src="/static/images/photo_2024-01-24_03-01-10.jpg">
            </div>
        </div>

        <!-- ------------------------( swiper-discount-product )--------------------------->

        <div class="border-middle-text">
            <p class="swiper-new-products-p">اجناس تخفیف خورده</p>
        </div>
        <div class="swiper-discount-product">
            <div class="swiper mySwiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="swiper-slide-item">
                            <a href="#">
                                <img src="/static/images/shoomiz.jpg">
                                <div class="sale-icon">
                                    <img class="sale-icon" src="/static/images/sale.png">
                                </div>
                                <div class="quick-add">
                                    <a href="#"> افزودن به سبد خرید</a>
                                </div>
                                <h1>لگ شاین کمر گن دار</h1>
                                <p>
                                    تومان
                                    222/000
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-item">
                            <a href="#">
                                <img src="/static/images/shoomiz.jpg">
                                <div class="sale-icon">
                                    <img class="sale-icon" src="/static/images/sale.png">
                                </div>
                                <div class="quick-add">
                                    <a href="#"> افزودن به سبد خرید</a>
                                </div>
                                <h1>لگ شاین کمر گن دار</h1>
                                <p>
                                    تومان
                                    222/000
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-item">
                            <a href="#">
                                <img src="/static/images/shoomiz.jpg">
                                <div class="sale-icon">
                                    <img class="sale-icon" src="/static/images/sale.png">
                                </div>
                                <div class="quick-add">
                                    <a href="#"> افزودن به سبد خرید</a>
                                </div>
                                <h1>لگ شاین کمر گن دار</h1>
                                <p>
                                    تومان
                                    222/000
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-item">
                            <a href="#">
                                <img src="/static/images/shoomiz.jpg">
                                <div class="sale-icon">
                                    <img class="sale-icon" src="/static/images/sale.png">
                                </div>
                                <div class="quick-add">
                                    <a href="#"> افزودن به سبد خرید</a>
                                </div>
                                <h1>لگ شاین کمر گن دار</h1>
                                <p>
                                    تومان
                                    222/000
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-item">
                            <a href="#">
                                <img src="/static/images/shoomiz.jpg">
                                <div class="sale-icon">
                                    <img class="sale-icon" src="/static/images/sale.png">
                                </div>
                                <div class="quick-add">
                                    <a href="#"> افزودن به سبد خرید</a>
                                </div>
                                <h1>لگ شاین کمر گن دار</h1>
                                <p>
                                    تومان
                                    222/000
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-item">
                            <a href="#">
                                <img src="/static/images/shoomiz.jpg">
                                <div class="sale-icon">
                                    <img class="sale-icon" src="/static/images/sale.png">
                                </div>
                                <div class="quick-add">
                                    <a href="#"> افزودن به سبد خرید</a>
                                </div>
                                <h1>لگ شاین کمر گن دار</h1>
                                <p>
                                    تومان
                                    222/000
                                </p>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <!-- <div class="swiper-scrollbar"></div> -->
            </div>
        </div>

        <!-- ------------------------( contact-us )--------------------------->
        <div class="border-middle-text">
            <p class="swiper-new-products-p">با ما در ارتباط باشین</p>
        </div>
        <div class="index-contact">
            <p>اطلاعات زیر را کامل کنید تا ما بتونیم شمارو از تخفیفات و همجنین شارج شد اجناس جدید مطلع کنیم</p>
            <form>
                <label>نام و نام خانوادگی</label>
                <input type="text">
                <label>شماره تماس</label>
                <input type="number">
                <button type="button">ارسال</button>
            </form>
        </div>

    </main>

    <!--------------------------------------( footer )----------------------------------------------------->

    {% include 'includes/footer.html' %}

    <!-- -------------------( scripts )----------------------------- -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script language="javascript" src="/static/js_files/navbars.js"></script>
    <script language="javascript" src="/static/js_files/index.js"></script>
</body>

</html>