<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css_files/forgot_password.css">
    <link rel="stylesheet" href="/static/css_files/messages.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>تغییر رمز عبور</title>
</head>

<body>
    {% include 'includes/messages.html' %}
    <main class="register-main">
        <div class="register-form-container">
            <div class="register-form-box">
                <p class="register-p">
                    اگر رمز عبورتون رو فراموش کردین یا می خواهید رمز عبور
                    خود را تغییر بدید شماره که باهاش ثبت نام کردین رو وارد کنید
                    تا کد یکبار مصرف برایتان ارسال شود
                </p>
                <form method="post">
                    {% csrf_token %}
                    <input type="number" name="forgot_mobile" placeholder="0912 ...">
                    <button type="submit" onclick="localStorage.clear()">ارسال کد یکبار مصرف</button>
                </form>
                <a class="register-go-homeBtn" href="{% url 'index:go_home' %}">برگرد به صفحه نخست</a>
            </div>
        </div>
    </main>

</body>

</html>