<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css_files/profile.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
    <title>حساب کاربری</title>
</head>

<body>
    {% include 'includes/messages.html' %}

    {% include 'includes/headers-navbars.html' %}

    {% include 'includes/slid-card-box.html' %}

    <section class="edit-profile-container" id="edit-profile-container">
            <div class="edit-profile-box animate">
                <button onclick="EditProfileClose()" class="edit-profile-closeBtn" type="button"><i
                        class="fa fa-window-close"></i>
                </button>
                <p class="edit-profile-p">ویرایش پروفایل</p>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label>نام و نام خانوادگی</label><br>
                        <input type="text" name="fullname">
                    </div>

                    <div>
                        <label>ایمیل</label><br>
                        <input class="editprofile-email-input" type="email" name="email">
                    </div>
                    <button class="edit-profile-saveBtn" type="submit">ذخیره تغییرات</button>
                </form>
            </div>
    </section>

    <section class="add-address-container" id="add-address-container">
            <div class="add-adress-box animate">
                <button onclick="AddAddressCloseBtn()" class="add-address-box-closeBtn" type="button"><i
                        class="fa fa-window-close"></i>
                </button>
                <p class="add-address-p">افزودن ادرس</p>
                <form method="post" action="{% url 'accounts:address' %}">
                    {% csrf_token %}
                    <div class="display-inlineBlock">
                        <label>نام</label><br>
                        <input type="text" name="name">
                    </div>
                    <div class="display-inlineBlock">
                        <label>نام خانوادگی</label><br>
                        <input type="text" name="family">
                    </div>
                    <div>
                        <label>شماره تماس</label><br>
                        <input placeholder="0912 ..." class="tel-input" type="text" name="address_mobile" pattern="[0-9]{11}">
                        <span></span>
                    </div>
                    <div class="ir-select">
                        <label>استان</label><br>
                        <select class="ir-province select-city" name="state"></select><br>
                        <label>شهر</label><br>
                        <select class="ir-city select-city" name="city"></select>
                    </div>
                    <div class="display-inlineBlock">
                        <label>ادرس</label><br>
                        <input type="text" name="address">
                    </div>
                    <div class="display-inlineBlock">
                        <label>کد پستی</label><br>
                        <input type="number" name="postal_code">
                    </div>

                    <button class="save-addressBtn" type="submit">ذخیره اطلاعات</button>
                </form>
            </div>
    </section>

    <section class="profile">
        <div class="white-space"></div>
        <div class="profile-detail-container">
            <p class="profile-p">حساب کاربری</p>
            <div class="email-name">
                <label>نام و نام خانوادگی</label>
                <button onclick="EditProfileOpen()" type="button" class="edit-profileBtn"><i
                        class="fa fa-edit"></i></button>
                <p class="name-p">{{ user.fullname }}</p>
                <label>شماره تماس</label><br>
                <p>+98 {{ user.mobile }}</p><br>
                <label>ایمیل</label><br>
                <p class="profile-email-p">{{ user.email }}</p>
                <a class="change_password" href="{% url 'accounts:forgot_password' %}">تغییر رمز ورود</a>
            </div>

            <p class="address-p">ادرس ها</p>
            <div class="address">
                <div>

                    <button onclick="AddAddressOpenBtn()" class="add-addressBtn" type="button">افزودن ادرس <i
                            class="fa fa-plus"></i></button>
                </div>
                {% for user_address in user_address %}
                    <div class="address-info">
                        <p>{{ user_address.name }}</p>
                        <p>{{ user_address.family }}</p>
                        <p>+98 {{ user_address.address_mobile }}</p>
                        <p>{{ user_address.state }}</p>
                        <p>{{ user_address.city }}</p>
                        <p>{{ user_address.address }}</p>
                        <p>{{ user_address.postal_code }}</p>
                    </div>
                {% empty %}
                    <p>ادرس وارد نشده</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script language="javascript" src="/static/js_files/city.js"></script>
    <script language="javascript" src="/static/js_files/navbars.js"></script>
    <script language="javascript" src="/static/js_files/profile.js"></script>
</body>

</html>