<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css_files/set_new_password.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>ایجاد رمز ورود جدید</title>
</head>

<body>
    {% include 'includes/messages.html' %}
    <main class="register-main">
        <div class="register-form-container">
            <div class="register-form-box">
                <div class="register-logo-img">
                    <img src="/static/images/photo_2024-01-24_03-01-10.jpg">
                </div>
                <p class="register-p">رمز عبور جدید خود را وارد کنید</p>
                <form method="post">
                    {% csrf_token %}
                    <label>رمز عبور جدید</label>
                    <input type="password" name="password" placeholder="123abc...">
                    <label>تکرار رمز عبور جدید</label>
                    <input type="password" name="confirm_password" placeholder="123abc...">
                    <button type="submit">ذخیره</button>
                </form>
            </div>
        </div>
    </main>

    <script>
        setTimeout(fade_out, 5000);
        function fade_out() {
          document.getElementById('messages-framework').style.visibility = 'hidden';
        }
    </script>

</body>

</html>