<footer class="footer">
    <div class="footer-leftSide">
        <img src="/static/images/photo_2024-01-24_03-01-10.jpg">
        <p>ایران,تهران <i class="fa fa-map-marker"></i></p>
        <p>+98 937 251 8997 <i class="fa fa-mobile"></i></p>
        <p>hooman.jafari3647@yahoo.com <i class="fa fa-envelope"></i></p>
        <ul>
            <a href="#">
                <li><i class="fa fa-facebook"></i></li>
            </a>
            <a href="#">
                <li><i class="fa fa-instagram"></i></li>
            </a>
            <a href="#">
                <li><i class="fa fa-google-plus"></i></li>
            </a>
            <a href="#">
                <li><i class="fa fa-twitter"></i></li>
            </a>
        </ul>
    </div>

    <div class="footer-rightSide">
        <p>فروش کیف و کفش خاص برای افراد خاص در فروشگاهی خاص به نام فلان. اگر خاص هستید و روی چیزهای خاص دست
            می گذارید، اکنون زمانش فرا رسیده که به فروشگاه ما مراجعه نمایید
        </p>
        <h4>خرید حضوری <i class="fa arrow-down"></i></h4>
        <h4>( تهران منطقه غرب )</h4>
    </div>
</footer>