<!-- ------------------------( search-box )------------------------ -->
<section class="search-container" id="search-container">
    <button class="search-box-close-btn" onclick="searchBoxCloseBtn()">
        <i class="fa fa-window-close"></i>
    </button>
    <div class="search-box" id="search-box">
        <form method="get" action="{% url 'shop:search_result' %}">
            <input name="search" type="text" placeholder="... اسم محصول یا نوع محصول رو وارد کنید">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</section>

<!-- ------------------------( mini-header-onScroll )------------------------ -->

<header class="header-onScroll" id="header-onScroll">
    <div class="header-onScroll-site-name">
    </div>
    <ul>
        {% if not request.user.is_authenticated %}
            <li class="header-onScroll-login">
                <a href="{% url 'accounts:register' %}">ثبت نام</a> /
                <a href="{% url 'accounts:login' %}">ورود</a>
            </li>
        {% else %}
            <div class="user_authenticated_id">
                <p>{{ request.user.mobile }} <i class="fa fa-user"></i></p>
                <div class="profile-logout-content">
                    <a href="{% url 'accounts:profile' pk=request.user.id %}">حساب کاربری</a>
                    <a href="{% url 'accounts:logout' %}">خروج از حساب</a>
                </div>
            </div>
        {% endif %}
        <li><a href="#">ارتباط با ما</a></li>
        <li><a href="{% url 'about_us:about_us' %}">درباره ما</a></li>
        <li><a href="{% url 'index:go_home' %}">صفحه نخست</a></li>
        <li class="clothes-dropBtn">
            <p>لباس ها</p> <i class="fa fa-caret-down"></i>
            <div class="clothes-dropdown-content">
                <a href="{% url 'shop:shop_tops' %}">تاپ</a>
                <a href="{% url 'shop:shop_shomiz' %}">شومیز</a>
                <a href="{% url 'shop:shop_legs' %}">انواع لگ</a>
                <a href="{% url 'shop:shop_tshirt' %}">تیشرت زنانه</a>
                <a href="{% url 'shop:shop_beach_shirt' %}">پیراهن ساحلی</a>
                <a href="{% url 'shop:shop_hats' %}">کلاه نقاب دار زنانه</a>
                <a href="{% url 'shop:under_wear' %}">انواع لباس زیر و نیم تنه</a>
            </div>
        </li>

        <li class="search-bag-icon">
            <button class="slid-card-openBtn" type="button" onclick="SlidCardOpenBtn()"><i
                    class="fa fa-shopping-bag"></i> {{ cart_items_count }}</button>
            <button class="search-box-open-btn" onclick="searchBoxBtn()"><i class="fa fa-search"></i></button>
        </li>
    </ul>
</header>

<!-- ------------------------( responsive-fixed-nav )------------------------ -->

<div class="clear-fixed"></div>
<nav class="responsive-fixed-nav" id="responsive-fixed-nav">
    <button onclick="menuBars()"><i class="fa fa-bars"></i></button>
    <ul>
        {% if not request.user.is_authenticated %}
            <li class="fixed-nav-login-register">
                <a href="{% url 'accounts:register' %}">ثبت نام</a> /
                <a href="{% url 'accounts:login' %}">ورود</a>
            </li>
        {% elif request.user.is_authenticated %}
            <li class="fixed-nav-user_authenticated_id">
                <a href="{% url 'accounts:profile' pk=request.user.id %}">{{ request.user.mobile }} <i class="fa fa-user"></i></a>
            </li>
        {% endif %}
        <li>
            <button type="button" onclick="SlidCardOpenBtn()">
                <li class="nav-cart-quantity"><p>{{ cart_items_count }}</p></li>
                <i class="fa fa-shopping-bag"></i>
            </button>
        </li>
        <button class="search-box-open-btn" onclick="searchBoxBtn()"><i class="fa fa-search"></i></button>
    </ul>
</nav>
<div class="clear-fixed"></div>

<!-- ------------------------( responsive-menu-header )------------------------ -->

<div class="bg-dark" id="bg-dark"></div>
<header class="responsive-header" id="responsive-header">
    <nav>
        <button class="window-close-btn" onclick="closeMenuBar()"><i class="fa fa-window-close"></i></button>
        <ul>
            <div class="responsive-logo">
                <a href="{% url 'index:go_home' %}">
                    <img alt="logo-image" src="/static/images/photo_2024-01-24_03-01-10.jpg">
                </a>
            </div>
            {% if request.user.is_authenticated %}
            <li>
                    <i class="fa fa-user"></i>
                <a href="{% url 'accounts:logout' %}">خروج از حساب</a> |
                <a href="{% url 'accounts:profile' pk=request.user.id %}">حساب کاربری</a>
            </li>
            {% else %}
            <li>
                 <i class="fa fa-user"></i>
                <a href="{% url 'accounts:register' %}">ثبت نام</a> | <a href="{% url 'accounts:login' %}">ورود</a>
            </li>
            {% endif %}
            <li>
                 <i class="fa fa-home"></i>
                <a href="{% url 'index:go_home' %}">صفحه نخست</a>
            </li>
            <li class="">
                 <i class="fa fa-female"></i>
                <button class="responsive-clothes-dropBtn" onclick="clothDropDown()">لباس ها</button> <i
                    class="fa fa-caret-down"></i>
                <div class="responsive-clothes-dropDown-content" id="responsive-clothes-dropDown-content">
                    <a href="{% url 'shop:shop_tops' %}">تاپ</a>
                    <a href="{% url 'shop:shop_shomiz' %}">شومیز</a>
                    <a href="{% url 'shop:shop_legs' %}">انواع لگ</a>
                    <a href="{% url 'shop:shop_tshirt' %}">تیشرت زنانه</a>
                    <a href="{% url 'shop:shop_beach_shirt' %}">پیراهن ساحلی</a>
                    <a href="{% url 'shop:shop_hats' %}">کلاه نقاب دار زنانه</a>
                    <a href="{% url 'shop:under_wear' %}">انواع لباس زیر و نیم تنه</a>
                </div>
            </li>
            <li>
                <i class="fa fa-phone"></i>
                <a href="#">ارتباط با ما</a>
            </li>
            <li>
                <i class="fa fa-star"></i>
                <a href="{% url 'about_us:about_us' %}">درباره ما</a>
            </li>
        </ul>
    </nav>
</header>