<section class="slid-card-container" id="slid-card-container">
    <div class="slid-card-box" id="slid-card-box">
        <button class="slid-card-closeBtn" onclick="SlidCardCloseBtn()"><i class="fa fa-window-close"></i></button>
        <p class="slid-card-p">سبد خرید شما</p>
        <p class="slid-card-item-quantity">تعداد ایتم ها <span>3</span></p>
        <div class="card-item">
            <img src="/static/images/shoomiz.jpg">
            <div class="card-item-info">
                <h1>لگ شاین کمر گن دار</h1>
                <button type="button" class="edit-sizeBtn">تغییر سایز و تعداد <i class="fa fa-edit"></i></button>
                <p>نومان<span>222.000</span></p>
            </div>
        </div>

        <div class="card-item">
            <img src="/static/images/shoomiz.jpg">
            <div class="card-item-info">
                <h1>لگ شاین کمر گن دار</h1>
                <button type="button" class="edit-sizeBtn">تغییر سایز و تعداد <i class="fa fa-edit"></i></button>
                <p>نومان<span>222.000</span></p>
            </div>
        </div>

        <div class="card-item">
            <img src="/static/images/shoomiz.jpg">
            <div class="card-item-info">
                <h1>لگ شاین کمر گن دار</h1>
                <button type="button" class="edit-sizeBtn">تغییر سایز و تعداد <i class="fa fa-edit"></i></button>
                <p>نومان<span>222.000</span></p>
            </div>
        </div>

        <div class="card-item-price">
            <p>قیمت کل</p>
            <p>222.000<span>تومان</span></p>
        </div>

        <div class="card-checkout">
            <a href="#">ادامه مراحل پرداخت</a>
        </div>
    </div>
</section>