@import url('/static/css_files/search_box.css');

.clear-fixed {
    clear: both;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* ==============( header-onScroll ) ========================================== */

.main-header-site-name-p {
    font-size: 1.3vw;
    font-weight: 600;
    color: white;
    padding: 0.2vw 0;
}

.clothes-dropBtn:hover .clothes-dropdown-content {
    height: 20vw;
    transition: 0.3s;
}

.clothes-dropBtn p {
    display: inline-block;
    cursor: pointer;
    color: #8F080F;
}

.clothes-dropdown-content {
    position: absolute;
    background-color: #ccb2b2;
    border-radius: 0 0 2vw 2vw;
    text-align: center;
    height: 0;
    overflow: hidden;
    width: 15vw;
    padding: 0 3vw;
}

.clothes-dropdown-content a {
    display: block;
    padding: 0.5vw 1vw;
    border-bottom: 1px dotted white;
    color: #590000 !important;
    font-size: 1.4vw;
    font-weight: 600;
}

.clothes-dropdown-content a:hover {
    opacity: 40%;
}


.header-onScroll {
    background-image: linear-gradient(to right, #BBBBBB, #B08F90, #A56265, #9A353A);
    opacity: 96%;
    padding: 0 0 1vw;
    border-bottom: 2px solid #87255B;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.3s;
    z-index: 10;
}

.header-onScroll ul {
    display: flex;
    justify-content: center;
    padding: 0.5vw 0;
    background-color: white;
}

.header-onScroll li {
    display: inline-block;
    margin: 0 3vw;
    font-size: 1.5vw;
    font-weight: 600;
}

.search-box-open-btn {
    background: none;
    color: #8F080F;
    border: none;
    font-size: 1.4vw;
    cursor: pointer;
}

.user_authenticated_id {
    background-color: #8F080F;
    padding: 0.3vw 1vw;
    border-radius: 1vw 1vw 0 0;
    cursor: pointer;
    position: relative;
}

.user_authenticated_id:hover .profile-logout-content {
    height: 9vw;
    transition: 0.3s;
}

.user_authenticated_id i {
    margin-left: 1vw;
    font-size: 1.5vw;
}

.user_authenticated_id p {
    font-size: 1.3vw;
    font-weight: 600;
    color: white !important;
}

.profile-logout-content {
    position: absolute;
    left: 0;
    width: 9vw;
    padding: 0 1vw;
    background-color: #8F080F;
    border-radius: 0 0 1vw 1vw;
    height: 0;
    overflow: hidden;
}

.profile-logout-content a {
    color: white !important;
    font-weight: 600;
    font-size: 1.1vw;
    padding: 1.4vw;
    display: block;
    border-bottom: 2px solid white;
}

.profile-logout-content a:hover {
    color: black !important;
}

.header-onScroll a {
    color: #8F080F;
}

.header-onScroll-login {
    background-color: #8F080F;
    color: white;
    border-radius: 2vw;
    padding: 0 1vw;
}

.header-onScroll-login a,
.header-onScroll-login i {
    color: #fdf8fb;
}

.header-onScroll a:hover {
    color: black;
}

.header-onScroll-site-name {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1vw;
}

.header-onScroll-site-name img {
    width: 6.6vw;
    height: 6.6vw;
    border-radius: 6vw;
}

.header-onScroll-site-name img:hover {
    opacity: 60%;
}

.search-bag-icon a {
    padding: 0 0.5vw;
}

.slid-card-openBtn {
    background: none;
    border: none;
    color: #8F080F;
    font-size: 1.3vw;
    cursor: pointer;
}

.slid-card-openBtn:hover,
.search-box-open-btn:hover {
    transform: rotate(-0.16turn);
    transition: 0.9s;
}

/* ==============( responsive-fixed-nav ) ============================================== */

.responsive-fixed-nav {
    background-image: linear-gradient(to right, #BBBBBB, #B08F90, #A56265, #9A353A);
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vw;
    display: none;
    z-index: 8;
    transition: 0.3s;
}

.responsive-fixed-nav ul {
    list-style: none;
    padding: 0 6vw;
    float: right;
}

.fixed-nav-login-register {
    background-color: #8F080F;
    color: #ffffff !important;
    font-weight: 600;
    font-size: 5.5vw !important;
    padding: 0.5vw 2vw !important;
    border-radius: 1vw;
}

.fixed-nav-login-register a {
    margin: 0 2vw;
    font-weight: 600;
    color: white !important;
}

.responsive-fixed-nav li {
    padding: 0;
    font-size: 6vw;
    display: inline-block;
}

.responsive-fixed-nav a {
    color: black;
}

.responsive-fixed-nav button {
    background: none;
    border: none;
    font-size: 6vw;
    padding: 3vw;
}

.nav-cart-quantity p {
    position: absolute;
    right: 23vw;
    top: 9vw;
    color: #e7dbdb;
}

.fixed-nav-user_authenticated_id {
    background-color: #8F080F;
    color: white !important;
    padding: 1vw 3vw !important;
    border-radius: 2vw;
}

.fixed-nav-user_authenticated_id a {
    color: white !important;
}

/* ==============( responsive-header-navbar ) ========================================== */

.responsive-header {
    position: fixed;
    top: 0;
    height: 100%;
    background-image: linear-gradient(to right, #BBBBBB, #B08F90, #A56265, #9A353A);
    display: none;
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 12;
}

.bg-dark {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: #bbbbbbda;
    display: none;
}

.responsive-header img {
    width: 30vw;
    height: 30vw;
    border-radius: 17vw;
    margin: 3vw 3vw 0;
}


.responsive-header li {
    padding: 5vw;
    font-size: 9vw;
    font-weight: 600;
    width: 70vw;
    border-bottom: 4px solid #BBBBBB;
    color: #BBBBBB;
}

.responsive-header ul {
    list-style: none;
    padding: 0;
}

.responsive-logo {
    text-align: center;
}

.responsive-header a {
    color: #363636;
}

.responsive-header i {
    color: #520608;
    font-size: 6vw;
}

.responsive-clothes-dropDown-content a {
    display: block;
    margin: 5vw 0;
    border-bottom: dashed 2px #BBBBBB;
    font-size: 5vw;
    text-align: right;
    color: black;
}

.responsive-header button {
    background: none;
    border: none;
    font-size: 9vw;
    font-weight: 600;
    color: #363636;
}

.responsive-clothes-dropDown-content {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

.show {
    height: 88vw !important;
}

.window-close-btn {
    position: absolute;
    right: 0;
    margin: 4vw;
}

.window-close-btn i {
    font-size: 7vw;
    color: #2a2020;
}

.responsive-accessory-dropDown-content {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

@media (max-width: 1024px) {
    .header-onScroll {
        display: none;
    }

    .main-header {
        display: none;
    }

    .responsive-header {
        display: block;
        overflow-y: scroll;
    }

    .nav-cart-quantity p {
        right: 22vw;
    }

    .responsive-header::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

    .responsive-fixed-nav {
        display: block;
    }

    .responsive-header li {
        font-size: 4vw;
    }

    .responsive-clothes-dropBtn {
        font-size: 4vw !important;
    }

    .responsive-clothes-dropDown-content a {
        font-size: 4vw;
    }

    .search-box-open-btn {
        font-size: 1.4vw;
        color: black;
    }

    .responsive-header img {
        width: 22vw;
        height: 22vw;
    }
}

@media (max-width: 768px) {
    .header-onScroll {
        display: none;
    }

    .main-header {
        display: none;
    }

    .responsive-header {
        display: block;
    }

    .nav-cart-quantity p {
        right: 23vw;
    }

    .responsive-header li {
        font-size: 5vw;
    }

    .responsive-clothes-dropBtn {
        font-size: 5vw !important;
    }

    .responsive-fixed-nav {
        display: block;
    }
}