@import url('/static/css_files/headers-navbars.css');
@import url('/static/css_files/slid-card.css');
@import url('/static/css_files/messages.css');

* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

.white-space {
    height: 14vw;
}

/* =======================================( content-shop )======================================================= */

.shop-product {
    padding: 3vw 0 3vw 3vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sort-by-p {
    font-size: 1.3vw;
    font-weight: 600;
}

.shop-item {
    text-align: center;
    margin: 0 3vw 3vw 0;
    position: relative;
    width: calc(calc(100% / 4) - 3vw);
}

.shop-item img {
    width: 100%;
    height: 29vw;
}

.shop-item a {
    color: white;
}

@media (min-width: 1025px) {
    .shop-item:hover .quick-add {
        height: 3vw;
        transition: 0.3s;
    }
}

.shop-item img:hover {
    transform: scale(1.06);
    transition: 2s;
}

.shop-item h1 {
    font-size: 2vw;
    padding: 2vw 0;
}

.shop-item p {
    font-size: 1.3vw;
}

.quick-add {
    position: relative;
    padding-left: 1vw;
    border-radius: 3vw;
    margin-top: -1vw;
    z-index: 10;
    font-size: 2vw;
    background-color: #8F080F;
    width: 20vw;
    height: 0;
    overflow: hidden;
}

.quick-add a {
    vertical-align: middle !important;
}

.quick-add:hover {
    background: #B08F90;
    transition: 0.2s;
}

.filter-by {
    padding: 3vw 0 0 3vw;
    display: flex;
}

.filter-by p {
    font-size: 1.5vw;
    padding: .7vw 1vw 0 0;
}

.filter-by select {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.5vw 1.6vw;
    border-radius: 1vw 1vw 0 0;
    cursor: pointer;
    color: #920607;
}

.result-not-found {
    font-size: 3vw;
    font-weight: 600;
    color: #8F080F;
    padding: 3vw;
    width: 100%;
    text-align: center;
}

.result-not-found-img {
    width: 9vw;
}

.result-not-found-img img {
    width: 100%;
}

.search-result-body {
    background-color: #F4F4F6;
}

.selected-default {
    pointer-events: none;
    visibility: hidden;
}

@media (max-width: 1024px) {
    .quick-add {
        position: relative;
        margin: -2vw 0 0 0.7vw;
        border-radius: 3vw;
        font-size: 3vw;
        width: 27vw;
        height: 5vw;
    }

    .shop-item {
    text-align: center;
    margin: 0 3vw 3vw 0;
    position: relative;
    width: calc(calc(100% / 3) - 3vw);
}

    .shop-item img {
        width: 100%;
        height: 40vw;
    }

    .shop-item-price {
        font-size: 2vw !important;
    }

    .result-not-found {
        font-size: 6vw;
        padding: 6vw 0;
        width: 100%;
        text-align: center;
    }

    .searched-words {
        font-size: 4vw;
        padding: 4vw 0;
        width: 100%;
        text-align: center;
    }

    .result-not-found-img {
        width: 13vw;
    }

    .result-not-found-img img {
        width: 100%;
    }

    .filter-by select {
        font-size: 4vw;
        background-color: white;
        margin: 4vw 0;
    }

    .filter-by p {
        font-size: 4vw;
        margin-right: 3vw;
    }
}

@media (max-width: 768px) {
    .shop-item {
        text-align: center;
        margin: 0 3vw 20vw 0;
        position: relative;
        width: calc(calc(100% / 2) - 3vw);
    }

    .shop-item img {
        height: 66vw;
    }

    .shop-item h1 {
        font-size: 4vw;
        padding: 6vw 0;
    }

    .shop-item p {
        font-size: 4vw;
    }

    .filter-by select {
        text-align: center;
        font-size: 6.6vw;
        padding: 0.5vw 1.6vw;
        border-radius: 3vw;
        cursor: pointer;
    }

    .select-selected {
        width: 60vw !important;
    }

    .filter-by p {
        font-size: 6vw;
        margin-right: 3vw;
    }
    .quick-add {
        position: relative;
        margin: -3vw 0 0 1.5vw;
        font-size: 4.5vw;
        width: 39vw;
        height: 6vw;
        padding: 1vw 2vw 2vw;
    }

    .shop-item-price {
        font-size: 3vw !important;
    }
}