* {
    font-weight: 600;
}

.slid-card-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #bbbbbbda;
    z-index: 11;
    display: flex;
    justify-content: end;
    visibility: hidden;
}

.slid-card-box {
    height: 100%;
    background-color: white;
    padding: 1vw 0 4vw;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 0;
    transition: 0.3s;
}

.slid-card-closeBtn {
    background: none;
    color: #8F080F;
    border: none;
    font-size: 2vw;
    cursor: pointer;
    margin: 1vw;
}

.slid-card-p {
    font-size: 2.2vw;
    color: #8F080F;
    margin: 0 0 3vw;
    font-weight: 600;
    padding-bottom: 1vw;
    border-bottom: 3px solid #8F080F;
    text-align: center;
    width: 39vw;
}

.slid-card-item-quantity {
    margin: 3vw 2vw;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 600;
    color: #adadad;
    width: 39vw;
}

.card-item {
    margin-bottom: 2vw;
    border-bottom: 1px dashed #8F080F;
    padding: 0 2vw 1vw;
    width: 90vw;
}

.cart_time_img {
    display: inline-block;
    height: auto;
    width: 7vw;
    margin-right: 3vw;
}

.cart_time_img a {
    color: red;
    font-size: 1.6vw;
}

.card-item img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.card-item-info {
    display: inline-block;
    color: #8F080F;
}

.card-item-info h1 {
    font-size: 1.5vw;
    font-weight: 600;
}

.edit-sizeBtn {
    background: none;
    border: none;
    color: #349DDF;
    padding: 0;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: 600;
}

.edit-sizeBtn i {
    font-size: 1.6vw;
}

.card-item-price {
    margin: 4vw 0;
    font-size: 2vw;
    font-weight: 600;
    display: flex;
    color: #8F080F;
    padding: 0 2vw;
    width: 26vw;
}

.cart-total-price-p {
    font-size: 1.6vw;
    font-weight: 600;
    text-align: left;
    display: inline-block;
}

.cart-total-price {
    margin-bottom: 3vw;
    font-size: 1.6vw;
    font-weight: 600;
    text-align: left;
    display: inline-block;
}


.card-item-price p:last-child {
    margin-left: auto;
}

.card-checkout {
    text-align: center;
    padding: 1vw;
    margin-bottom: 4vw;
    width: 39vw;
}

.card-checkout a {
    padding: 0.5vw 6vw;
    font-size: 1.6vw;
    font-weight: 600;
    background-color: #8F080F;
    color: white;
}

.second-slid-card-closeBtn {
    background-color: #727272;
    color: white;
    font-size: 1.6vw;
    padding: 0.5vw 3vw;
    border: none;
    border-radius: 3vw;
    margin-top: 4vw;
    cursor: pointer;
}

.card-checkout a:hover,
.second-slid-card-closeBtn:hover {
    opacity: 60%;
    transition: 0.3s;
}

@media screen and (max-width: 990px) {
    .slid-card-closeBtn {
        font-size: 5vw;
    }

    .second-slid-card-closeBtn {
        font-size: 2.2vw;
    }

    .slid-card-p {
        font-size: 3vw;
        margin: 0 0 4vw;
        padding-bottom: 3vw;
        width: 66vw;
    }

    .card-item-price {
        font-size: 2vw;
        width: 60vw;
    }

    .cart_time_img {
        width: 16vw;
        margin:0 7vw;
    }

    .cart_time_img a {
        color: red;
        font-size: 2.6vw;
    }

    .card-checkout {
        text-align: center;
        padding: 3vw;
        margin-bottom: 4vw;
        width: 60vw;
    }

    .card-item-info h1 {
        font-size: 2.3vw;
        font-weight: 600;
    }

    .card-checkout a {
        padding: 0.6vw 4.4vw;
        font-size: 3vw;
    }

    .cart-total-price-p {
        font-size: 3vw;
    }

    .cart-total-price {
        font-size: 3vw;
    }

    .slid-card-item-quantity {
        font-size: 2.5vw;
        width: 55vw;
    }

    .edit-sizeBtn {
        font-size: 2vw;
        margin: 1vw 0;
    }

    .edit-sizeBtn i {
        font-size: 2.3vw;
    }
}

@media (max-width: 672px) {
    .slid-card-closeBtn {
        font-size: 6vw;
    }

    .second-slid-card-closeBtn {
        font-size: 3vw;
        padding: 1.5vw 5vw;
        border-radius: 3vw;
        margin-top: 7vw;
    }

    .slid-card-p {
        font-size: 6vw;
        margin: 0 0 6vw;
        padding-bottom: 6vw;
        width: 72vw;
    }

    .slid-card-item-quantity {
        margin-left: 4vw !important;
        width: 63vw !important;
        font-size: 5vw !important;
    }

    .card-item {
        margin-bottom: 9vw;
        padding: 2vw 3vw;
        width: 90vw;
    }

    .cart_time_img {
        margin: 0 3vw 0 1vw;
        width: 29vw;
    }

    .cart_time_img a {
        color: red;
        font-size: 6vw;
    }

    .card-item-info h1 {
        font-size: 3vw;
    }

    .card-item-info p {
        font-size: 3vw;
    }

    .edit-sizeBtn {
        font-size: 3vw;
        margin: 0.5vw 0;
    }

    .edit-sizeBtn i {
        font-size: 4vw;
    }

    .card-item-price {
        font-size: 4vw;
        width: 59vw;
    }

    .card-checkout {
        text-align: center;
        padding: 3vw;
        margin-bottom: 4vw;
        width: 60vw;
    }

    .card-checkout a {
        padding: 2vw 9vw;
        font-size: 4vw;
        border-radius: 1.5vw;
    }

    .cart-total-price-p {
        font-size: 4vw;
    }

    .cart-total-price {
        margin-bottom: 7vw;
        font-size: 4vw;
    }
    .slid-card-item-quantity {
        font-size: 3vw;
        width: 55vw;
    }
}