<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جزيات محصول</title>
    <link rel="stylesheet" href="/static/css_files/product-details.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>

    {% include 'includes/mini_navbar.html' %}

    {% include 'includes/messages.html' %}

    {% include 'includes/slid-card-box.html' %}
    <div class="white-space"></div>
    <div class="product-details-container">
        <div class="details-img">
            <img alt="product-img" class="product-img" src="{{ product.main_image.url }}">
        </div>
        <div class="details-content">
            <h1>{{ product.item_name }}</h1>
            <h4>
                {{ product.item_info|linebreaks }}
            </h4>
            {% load humanize %}
            {% if off_product %}
                {% for off in off_product %}
                    <s class="padding-top">تومان<span>{{ off.item_price|intcomma }}</span></s>
                    <p>تومان<span class="product-price">{{ off.item_price_on_discount|intcomma }}</span></p>
                {% endfor %}
            {% elif not off_product %}
                <p class="padding-top">تومان<span class="product-price">{{ product.item_price|intcomma }}</span></p>
            {% endif %}
            <div id="product-colores-container">
                {#  color boxes will apear here #}
                {% for color in colores %}
                    <p hidden="hidden" class="available_colores" id="available_colores">{{ color }}</p>
                {% endfor %}
            </div>
            <p class="change-image-as-color">( با انتخاب هر رنگ عکس متناسب با اون رنگ تغییر می کنه )</p>
            <div id="product-sizes-container">
                {#  color boxes will apear here #}
                {% for size in sizes %}
                    <p hidden="hidden" class="available-sizes" id="available-sizes">{{ size }}</p>
                {% endfor %}
            </div>

            <form method="post">
                {% csrf_token %}
{#                --------------------( quantity-btn )-----------------------------#}
                <p class="quantity-p">تعداد :</p>
                <p>{{ form.errors.selected_quantity }}</p>
                <button id="plus-btn" class="quantity-btn" type="button"><i class="fa fa-plus"></i></button>
                <input name="selected_quantity" value="1" class="quantity-input" type="text" min="1"  readonly>
                <button id="minus-btn" class="quantity-btn" type="button"><i class="fa fa-minus"></i></button>
{#                -----------------------------------------------------------------#}
                <p class="quantity-p">رنگ :</p>
                <p>{{ form.errors.selected_color }}</p>
                <input name="selected_color" placeholder="روی رنگ های بالا کلیک کنید" class="colores-send-data" id="colores-send-data" readonly type="text" value="">
                <p class="quantity-p">سایز :</p>
                <p>{{ form.errors.selected_size }}</p>
                <input name="selected_size" placeholder="روی سایز های بالا کلیک کنید" readonly type="text" class="colores-send-data" id="sizes-send-data">
                <p class="total-price-p">جمع کل :</p>
                <input name="total_price" readonly type="text" class="total-price" id="total-price">
                <p class="total-price-p">تومان</p>
                <button class="add-cart" type="submit">افزودن به سبد خرید</button>
            </form>
        </div>
    </div>

    <script>
        const MyData = '{{ url_data }}';
    </script>
    <script src="/static/js_files/navbars.js"></script>
    <script language="javascript" src="/static/js_files/product-details.js"></script>
</body>

</html>