<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css_files/shop_tshirt.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>فروشگاه</title>
</head>

<body>
    {% include 'includes/headers-navbars.html' %}

    {% include 'includes/slid-card-box.html' %}

    {% include 'includes/messages.html' %}
    <div class="white-space"></div>
    <div class="content-shop">
        <div class="shop-product-container">
            <div class="filter-by">
{#                <p class="sort-by-p">ترتیب نمایش</p>#}
                <form method="get">
                    <select name="selected" id="id_selected">
                        <option class="filter-by-option selected-default" value="به ترتیبه ...">{{ default }}</option>
                        <option value="-added_time">جدید ترین ها</option>
                        <option value="added_time">قدیمی ترین ها</option>
                        <option value="item_price">ارزان ترین ها</option>
                        <option value="-item_price">گران ترین ها</option>
                        <option value="discount">تخفیف خورده ها</option>
                    </select>
                    <button type="submit" id="selected-btn" hidden="hidden"></button>
                </form>
            </div>
                <div class="shop-product">
                    {% load humanize %}
                    {% for i in shomiz %}
                        <div class="shop-item">
                            <a href="{% url 'shop:product_details' pk=i.id %}">
                                <img class="product-img" src="{{ i.main_image.url }}">
                                <div class="quick-add">
                                    <a href="{% url 'shop:product_details' pk=i.id %}">جزئیات رنگ ها و سایز ها</a>
                                </div>
                                <h1>{{ i.item_name }}</h1>
                                {% if i.discount is True %}
                                    <s class="shop-item-price">
                                        <span>تومان</span>
                                        {{ i.item_price|intcomma }}
                                    </s>
                                    <p class="shop-item-price">
                                        <span>تومان</span>
                                        {{ i.item_price_on_discount|intcomma }}
                                    </p>
                                {% elif i.discount is not True %}
                                    <p class="shop-item-price">
                                        <span>تومان</span>
                                        {{ i.item_price|intcomma }}
                                    </p>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
    <script src="/static/js_files/navbars.js"></script>
    <script src="/static/js_files/shop_tshirt.js"></script>
</body>

</html>