<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css_files/about-us.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>درباره ما</title>
</head>

<body>
    {% include 'includes/messages.html' %}
    {% include 'includes/headers-navbars.html' %}
    {% include 'includes/slid-card-box.html' %}

    <div class="white-space"></div>
    <main class="about-us-container">
        <div class="" id="about-us-box-1">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate facilis minima illum esse cum quasi
                iste commodi quae animi nulla.
            </p>
            <img src="/static/images/orginal-stamp.jpeg" alt="orignal-image">
        </div>

        <div class="" id="about-us-box-2">
            <img src="/static/images/standards.jpeg" alt="standard-image">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate facilis minima illum esse cum quasi
                iste commodi quae animi nulla.
            </p>
        </div>

        <div class="" id="about-us-box-3">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate facilis minima illum esse cum quasi
                iste commodi quae animi nulla.
            </p>
            <img src="/static/images/trust.jpg" alt="trust-image">
        </div>
    </main>

    {% include 'includes/footer.html' %}


    <script src="/static/js_files/navbars.js"></script>
    <script language="javascript" src="/static/js_files/about-us.js"></script>
</body>

</html>